////
/// Font Size Utilities
///
/// Generates helper classes for granular control
/// of font sizes with expressive classes.
///
/// @group utilities
////

/// Font size helper classes namespace
/// @type String
$hitman-font-size-namespace: 'fz' !default;

/// Default font size scale.
///
/// This scale should be in pixels. Use utility functions to
/// convert these to `em` in the context it's used.
///
/// @type Map
$hitman-font-size-scale: (
  giga: 72px,
  mega: 60px,
  kilo: 48px,

  alpha:   36px,
  beta:    30px,
  gamma:   24px,
  delta:   21px,
  epsilon: 18px,
  zeta:    16px,

  milli: 14px,
  nano:  12px,
  pico:  10px,
) !default;

/// Breakpoints to not create helpers for.
/// @see $hitmancss-responsive-breakpoints
/// @type List
$hitman-font-size-excluded-breakpoints: ('hidpi') !default;





/**
 * #FONT-SIZE
 */
@each $fz-alias, $size in $hitman-font-size-scale {
  /* Font size utility: #{$fz-alias} */
  .u-#{$hitman-font-size-namespace}-#{$fz-alias} {
    font-size: $size !important;
  }
} // @each

// If breakpoints are defined
@if global-map-exists(hitman-responsive-breakpoints) {
  // Loop through each breakpoint
  @each $mq-alias, $breakpoint in $hitman-responsive-breakpoints {
    // Only create classes if breakpoint isn't on skip list
    @if not index($hitman-font-size-excluded-breakpoints, $mq-alias) {
      @media #{$breakpoint} {
        @each $fz-alias, $size in $hitman-font-size-scale {
          /* Font size utility: #{$fz-alias}@#{$mq-alias} */
          .u-#{$hitman-font-size-namespace}-#{$fz-alias}#{$hitman-responsive-suffix-delimiter}#{$mq-alias} {
            font-size: $size !important;
          }
        } // @each
      } // @media
    } // @if
  } // @each
} // @if
