////
/// Global Settings
///
/// Set some global settings that are used through all framework code.
/// This should be imported before anything else, or custom
/// values can be defined in another file.
///
/// @group settings
////

/// Base spacing amount
/// @type Length
$hitman-base-spacing: 24px !default;
$hitman-base-spacing--tiny:  $hitman-base-spacing / 4 !default;
$hitman-base-spacing--small: $hitman-base-spacing / 2 !default;
$hitman-base-spacing--large: $hitman-base-spacing * 2 !default;
$hitman-base-spacing--huge:  $hitman-base-spacing * 4 !default;

/// Default content flow direction
/// @type String
$hitman-base-flow-direction: ltr !default;
