////
/// Widths Generator Mixin
///
/// @group utilities
////

/// Width classes namespace
/// @type String
$hitman-widths-namespace: 'w' !default;

/// Width fraction delimiter
/// @type String
$hitman-widths-delimiter: \/ !default;

/// Generates group of width utility classes
///
/// @parameter {List} $hitman-width-columns - desired grid columns
/// @parameter {String} $breakpoint [null] - responsive breakpoint the classes are under

@mixin hitman-widths($hitman-widths-columns, $breakpoint: null) {
  $delimiter: if(global-variable-exists(hitman-responsive-suffix-delimiter), $hitman-responsive-suffix-delimiter, \@);
  $responsive-suffix: if($breakpoint, $delimiter + $breakpoint, null);

  // Loop through each defined column, this number is the fraction denominator
  @each $denominator in $hitman-widths-columns {
    // To avoid redundancy, 100% width is
    // just one `1/1` utility class
    @if $denominator == 1 {
      .u-#{$hitman-widths-namespace}-1#{$hitman-widths-delimiter}1#{$responsive-suffix} {
        width: 100% !important;
      }
    } @else {
      // Loop and generate class for each
      // fraction numerator up to the denominator
      @for $numerator from 1 to $denominator {
        .u-#{$hitman-widths-namespace}-#{$numerator}#{$hitman-widths-delimiter}#{$denominator}#{$responsive-suffix} {
          width: percentage($numerator/$denominator) !important;
        }
      } // @for
    } // @if
  } // @each
} // @mixin
